<% layout('boilerplate/commonContent') %>
<nav id="mainnav" class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand mx-2" style="font-size: 30px; color: cyan" href="/"
      ><i class="fa fa-globe"></i> NewsBin</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <% if(factor==0) { %>
        <a class="nav-link" href="/userRegistration">Register</a>
        <% }%>

        <a class="nav-link" href="/articles/postArticle">Post</a>
        <a class="nav-link" href="/articles/showAll/1">Articles</a>
      </div>
      <div class="navbar-nav" style="margin-left: auto">
        <% if(factor==0) { %>
        <a class="nav-link" href="/logIn">Log In</a>
        <% }else if(factor==1) { %>
        <a class="nav-link" href="/profile"><i class="fa fa-user" style="font-size: 25px"></i></a>
        <a class="nav-link" href="/logOut">Log Out</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
<% if(successMessage.length > 0) {%>
<div class="row">
  <div class="col-1"></div>
  <div class="col-10">
    <div
      class="alert alert-success alert-dismissible fade show text-center"
      role="alert"
    >
      <strong> SUCCESS : </strong>
      <%= successMessage %>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
  </div>
  <div class="col-1"></div>
</div>
<% } %>
<% if(infoMessage.length > 0) {%>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <div
        class="alert alert-info alert-dismissible fade show text-center"
        role="alert"
      >
        <strong> MESSAGE : </strong>
        <%= infoMessage %>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
  <% } %>
<div id="outer" class="container-fluid text-center">
  <section>
    <div class="text-center">
      <h1>
        Welcome to <span><i class="fa fa-globe"></i>NewsBin</span>
      </h1>
    </div>
    <div class="text-center px-0 mt-2">
      <p class="px-1">
        NewsBin provides a platform where any individual who likes to write
        articles on any issue can post their blogs and other users can view
        them. Not only this we also provide everyday worlwide news to give you
        ideas for blog posting. So what are you waiting for start now and aspire
        everyone with your writing skills.
      </p>
    </div>

    <div class="text-center mt-3">
      <a class="btn btn-info px-5" href="/news">Everyday News</a>
    </div>
  </section>
</div>

